<nz-spin [nzSpinning]="isSpinning" nzTip="Đang khởi động">
  <div class="table">
    <nz-table #basicTable [nzData]="listWorkingtime">
      <thead>
        <th colSpan="11">
          <div class="bg-light d-flex justify-content-end align-items-center p-3">
            <div class="p-3" style="color: blue;"><label>Working Time: 08:00(08:30) ~ 12:00/13:15 ~ 17:15(8h)</label></div>
            <div class="p-1 footer-item" style="background-color: rgb(255, 144, 168);"><label>Đi trễ, có làm bù</label></div>
            <div class="p-1 footer-item" style="background-color: rgb(133, 133, 133);"><label>Đi trễ, không có làm bù</label></div>
            <div class="p-1 footer-item" style="background-color: rgb(246, 255, 0);"><label>Làm không đủ giờ</label></div>
            <div class="p-1 footer-item" style="background-color: rgb(254, 73, 251);"><label>Ngày lễ</label></div>
            <div class="p-1 footer-item" style="background-color: rgb(245, 65, 0);"><label>Nghỉ cả ngày</label></div>
          </div>
        </th>
        <tr>
          <th>No</th>
          <th>Date</th>
          <th>Check in</th>
          <th>Check out</th>
          <th>Duration</th>
          <th>Note</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of basicTable.data index as i" >
          <td>{{i+1}}</td>
          <td>{{item.cio_Day +"-"+ item.cio_Ymd}}</td>
          <td>{{item.in_Hh_Mm}}</td>
          <td>{{item.out_Hh_Mm}}</td>
          <td *ngIf="item.cio_State == '0'" style="background-color: yellow;">{{convertMinsToHrsMins(item.cio_Duration)}}</td>
          <td *ngIf="item.cio_State == '1'" >{{convertMinsToHrsMins(item.cio_Duration)}}</td>
          <td *ngIf="item.cio_State == '2'" style="background-color: rgb(133, 133, 133);">{{convertMinsToHrsMins(item.cio_Duration)}}</td>
          <td *ngIf="item.cio_State == '3'" style="background-color: rgb(255, 144, 168);">{{convertMinsToHrsMins(item.cio_Duration)}}</td>
          <td *ngIf="item.cio_State == '4'" style="background-color: rgb(254, 73, 251);">{{convertMinsToHrsMins(item.cio_Duration)}}</td>
          <td *ngIf="item.cio_State == '5'" style="background-color: rgb(245, 65, 0);">{{convertMinsToHrsMins(item.cio_Duration)}}</td>
          <td>{{item.note}}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</nz-spin>

