<nz-layout class="nz-demo-layout-fixed">
  <nz-header>
    <div class="header-login">
        <div class="title-header">
            <span>
                <img src="../../../assets/images/logo.png" width="35px" height="35px" />
                <span class="ml-2"> E-WORK </span>
            </span>
            <span>
                <img src="../../../assets/images/logo1.png" width="35px" height="35px" />
                <span class="ml-2"> KHOA CÔNG NGHỆ THÔNG TIN </span>
            </span>
        </div>
    </div>
    <div class="banner-wrapper"><img _ngcontent-apu-c70 class="image" src="../../../assets/images/banner.png" alt=""></div>
    <ul nz-menu [nzMode]="'horizontal'">
      <li nz-submenu nzTitle="Quản lý chấm công" nzIcon="contacts" >
        <ul>
          <li nz-menu-item class="textLi">
            <a routerLink="cham-cong" routerLinkActive="active">
              <span>Chấm công</span>
            </a>
          </li>
          <li nz-menu-item >
            <a routerLink="" routerLinkActive="active">
              <span>Nghỉ Phép</span>
            </a>
          </li>
          <li nz-menu-item class="textLi">
            <a routerLink="lich-su-cham-cong" routerLinkActive="active">
              <span>Lịch sử chấm công</span>
            </a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Quản lý Lương thưởng" nzIcon="contacts">
      </li>
      <li nz-submenu nzTitle="Đăng xuất" (click)="logout()"></li>
    </ul>
  </nz-header>

  <nz-content>
    <router-outlet></router-outlet>
  </nz-content>
  <nz-footer>Copyright@2021 - Công ty TNHH FG</nz-footer>
</nz-layout>
