<div class="bg-light d-flex justify-content-start align-items-center p-1 w-100">
  <div class="p-1">
    <div class="d-flex align-items-center checkbox-item">
      <p class="">Staff</p>
      <nz-select
      [(ngModel)]="selectedValue"
      [compareWith]="compareFn"
      nzAllowClear
      nzPlaceHolder="Choose"
    >
      <nz-option *ngFor="let option of optionList" [nzValue]="option" [nzLabel]="option.label"></nz-option>
    </nz-select>
    </div>
  </div>
  <div class="p-1">
    <input nz-input placeholder="Tìm kiếm..." [(ngModel)]="value" />
    <ng-template #suffixIconSearch>
      <span nz-icon nzType="search"></span>
    </ng-template>
  </div>
  <div class="p-1">
    <button nz-button nzType="primary" (click)="search($event)" (loadDataEmit)="loadData()">
      Tìm kiếm
    </button>
  </div>
</div>
<div class="bg-light d-flex justify-content-start align-items-center p-1 border-bottom w-100">
  <nz-radio-group [(ngModel)]="radioValue">
    <label nz-radio nzValue="week">This week</label>
    <label nz-radio nzValue="month">This month</label>
  </nz-radio-group>
  <div class="p-1">
    <div class="d-flex align-items-center checkbox-item">
      <p>SelectDate</p>
      <div class="p-1 d-flex">
        <input nz-input [(ngModel)]="fromdate" maxLength="10"/>
        <div>~</div>
        <input nz-input [(ngModel)]="todate" maxlength="10"/>
      </div>
    </div>
  </div>
</div>
