<div class="bg-light d-flex justify-content-start align-items-center p-3 border-bottom w-100">
  <div class="p-1">
    <div class="d-flex align-items-center checkbox-item">
      <p class="">Dept/Team</p>
      <nz-select nzShowSearch nzAllowClear [(ngModel)]="selectedValue">
        <nz-option nzLabel="++Võ Minh Trọng" nzValue="jack"></nz-option>
        <nz-option nzLabel="++Hoàng Minh Nhân" nzValue="lucy"></nz-option>
        <nz-option nzLabel="++Đào Nhơn Tâm" nzValue="tom"></nz-option>
      </nz-select>
    </div>
  </div>
  <div class="p-1">
    <input nz-input placeholder="Tìm kiếm..." [(ngModel)]="value" />
    <ng-template #suffixIconSearch>
      <span nz-icon nzType="search"></span>
    </ng-template>
  </div>
  <div class="p-1">
    <button nz-button nzType="primary">
      Tìm kiếm
    </button>
  </div>
</div>
<div class="bg-light d-flex justify-content-start align-items-center p-3 border-bottom w-100">
  <div class="p-1">
    <div class="d-flex align-items-center checkbox-item">
      <img class="checkbox-label" (click)="chckweek = !chckweek" [src]="chckweek ? 'assets/images/checkbox.png' : 'assets/images/uncheck.png'" alt="">
      <p>Tuần này</p>
    </div>
  </div>
  <div class="p-1">
    <div class="d-flex align-items-center checkbox-item">
      <img class="checkbox-label" (click)="chckmonth = !chckmonth" [src]="chckmonth ? 'assets/images/checkbox.png' : 'assets/images/uncheck.png'" alt="">
      <p>Tháng này</p>
    </div>
  </div>
  <div class="p-1">
    <div class="d-flex align-items-center checkbox-item">
      <img class="checkbox-label" (click)="chckdate = !chckdate" [src]="chckdate ? 'assets/images/checkbox.png' : 'assets/images/uncheck.png'" alt="">
      <p>SelectDate</p>
      <div class="p-1 d-flex">
        <input nz-input [(ngModel)]="value" />
        <div>~</div>
        <input nz-input [(ngModel)]="value" />
      </div>
    </div>
  </div>
</div>
