<div class="bg-light d-flex justify-content-start align-items-center p-1 w-100">
  <div class="p-1">
    <div class="d-flex align-items-center checkbox-item">
      <p class="">Dept/Team</p>
      <input type="text" nz-input [(ngModel)]="idDepartment" disabled="disable"/>
    </div>
  </div>
  <div class="p-1">
    <div class="d-flex align-items-center checkbox-item">
      <p class="">Staff</p>
      <nz-select
      [(ngModel)]="selectedValueStaff"
      [compareWith]="compareFn"
      nzAllowClear
      nzPlaceHolder="Choose"
    >
      <nz-option *ngFor="let option of optionListStaff" [nzValue]="option" [nzLabel]="option.label"></nz-option>
    </nz-select>
    </div>
  </div>
  <div class="p-1">
    <input nz-input placeholder="Tìm kiếm..." [(ngModel)]="value" />
    <ng-template #suffixIconSearch>
      <span nz-icon nzType="search"></span>
    </ng-template>
  </div>
  <div class="p-1">
    <button nz-button nzType="primary">
      Tìm kiếm
    </button>
  </div>
</div>
<div class="bg-light d-flex justify-content-start align-items-center p-1 border-bottom w-100">
  <div class="p-1">
    <div class="d-flex align-items-center checkbox-item">
      <img class="checkbox-label" (click)="chckweek = !chckweek" [src]="chckweek ? 'assets/images/checkbox.png' : 'assets/images/uncheck.png'" alt="">
      <p>Tuần này</p>
    </div>
  </div>
  <div class="p-1">
    <div class="d-flex align-items-center checkbox-item">
      <img class="checkbox-label" (click)="chckmonth = !chckmonth" [src]="chckmonth ? 'assets/images/checkbox.png' : 'assets/images/uncheck.png'" alt="">
      <p>Tháng này</p>
    </div>
  </div>
  <div class="p-1">
    <div class="d-flex align-items-center checkbox-item">
      <img class="checkbox-label" (click)="chckdate = !chckdate" [src]="chckdate ? 'assets/images/checkbox.png' : 'assets/images/uncheck.png'" alt="">
      <p>SelectDate</p>
      <div class="p-1 d-flex">
        <input nz-input [(ngModel)]="fromdate" maxLength="10"/>
        <div>~</div>
        <input nz-input [(ngModel)]="todate" maxlength="10"/>
      </div>
    </div>
  </div>
</div>
