<div class="table">
  <nz-table #basicTable [nzData]="listCheckinout">
    <thead>
      <tr>
        <th>No</th>
        <th>Date</th>
        <th>Check in</th>
        <th>Check out</th>
        <th>Duration</th>
        <th>Note</th>
        <th>Chi tiết</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of basicTable.data index as i" >
        <td>{{i+1}}</td>
        <td>{{item.date}}</td>
        <td>{{item.checkin}}</td>
        <td>{{item.checkout }}</td>
        <td>{{item.duration}}</td>
        <td>{{item.note}}</td>
        <td>
          <button nz-button nzType="primary" (click)="showDialog()">Xem chi tiết</button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
<p-dialog header="Chi tiết ngày công" [(visible)]="display" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}">
  <app-cham-cong-item></app-cham-cong-item>
</p-dialog>
