<form nz-form [formGroup]="validateForm">
  <nz-form-item>
    <nz-form-label [nzSm]="4" >Tên đơn vị</nz-form-label>
    <nz-form-control nzErrorTip="Nhập tên đơn vị!">
      <nz-input-group>
        <input formControlName="tendonvi" nz-input placeholder="Tên đon vị"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="4" >Mã đơn vị</nz-form-label>
    <nz-form-control nzErrorTip="Nhập mã đơn vị!">
      <nz-input-group>
        <input formControlName="madonvi" nz-input placeholder="Mã đon vị"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="4" >Địa chỉ</nz-form-label>
    <nz-form-control>
      <nz-input-group>
        <input formControlName="diachi" nz-input placeholder="Địa chỉ"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <button nz-button nzType="primary" [disabled]="!validateForm.valid" (click)="submitForm()" (loadDataEmit)="loadDonvi()">Thêm
      </button>
    </nz-form-control>
  </nz-form-item>
</form>

