<div class="table">
  <nz-table #basicTable [nzData]="listDpm">
    <thead>
      <tr>
        <th>No</th>
        <th>Department</th>
        <th>Note</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of basicTable.data index as i" >
        <td>{{i+1}}</td>
        <td>{{item.nameDpm}}</td>
        <td>{{item.note}}</td>
        <td>
          <button nz-button nzType="primary" (click)="show()">Hoàn thành</button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
