<nz-layout>
  <div class="text-center">
    <h1>FUNY COMPANY INTRANET</h1>
    <h5 style="color: red;">CHECK IN/OUT LIST</h5>
  </div>
  <app-cham-cong-search></app-cham-cong-search>
  <nz-content>
    <app-cham-cong-list></app-cham-cong-list>
  </nz-content>
  <div class="bg-light d-flex justify-content-end align-items-center p-3 border-bottom w-100">
    <div class="w-25"></div>
    <div class="p-1 footer-item"><label>Check in/out:</label></div>
    <div class="p-1 footer-item" style="background-color: aqua;"><label>Đi sớm</label></div>
    <div class="p-1 footer-item" style="background-color: rgb(255, 144, 168);"><label>Đi trễ, có làm bù</label></div>
    <div class="p-1 footer-item" style="background-color: rgb(133, 133, 133);"><label>Đi trễ, không có làm bù</label></div>
    <div class="p-1 footer-item" style="background-color: rgb(246, 255, 0);"><label>Làm đủ giờ</label></div>
    <div class="p-1 footer-item" style="background-color: rgb(254, 73, 251);"><label>Ngày lễ</label></div>
    <div class="p-1 footer-item" style="background-color: rgb(245, 65, 0);"><label>Nghỉ cả ngày</label></div>
  </div>
</nz-layout>
