<div class="bg-light d-flex justify-content-start align-items-center p-1 w-100">
  <div class="p-1">
    <div class="d-flex align-items-center checkbox-item">
      <p class="">Dept/Team</p>
      <nz-select
        nzAllowClear
        nzPlaceHolder="Chọn phòng ban"
      >
        <nz-option *ngFor="let option of listDpm" [nzValue]="option" [nzLabel]="option.dpm_Name"></nz-option>
      </nz-select>
    </div>
  </div>
  <div class="p-1">
    <input nz-input placeholder="Tìm kiếm..." [(ngModel)]="value" />
    <ng-template #suffixIconSearch>
      <span nz-icon nzType="search"></span>
    </ng-template>
  </div>
  <div class="p-1">
    <button nz-button nzType="primary">
      Tìm kiếm
    </button>
  </div>
</div>
