<div class="table">
  <nz-table #basicTable [nzData]="listStaff">
    <thead>
      <tr>
        <th><input type="checkbox" [checked]="isAllCheckBoxChecked()" (change)="checkAllCheckBox($event)"></th>
        <th>No</th>
        <th>Name</th>
        <th>Note</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of basicTable.data index as i" >
        <td><input type="checkbox" value="" ></td>
        <td>{{i+1}}</td>
        <td>{{item.stf_Name}}</td>
        <td>{{item.note}}</td>
        <td class="col-2"><button nz-button nzType="primary">Chỉnh sửa</button></td>
      </tr>
    </tbody>
  </nz-table>
</div>

