<div class="bg-light d-flex justify-content-start align-items-center border-bottom p-1 w-100">
  <div class="p-1 m-2">
    <label class="lable">Staff:</label>
    <label>{{nameStaff}}</label>
  </div>
  <div class="p-1 m-2">
    <label class="lable">Year:</label>
    <nz-select
      nzAllowClear
      nzPlaceHolder="Choose"
    >
      <nz-option *ngFor="let option of listOfYear" [nzValue]="option" [nzLabel]="option.toString()"></nz-option>
    </nz-select>
  </div>
  <div class="p-1 m-2">
    <label class="lable">Month:</label>
    <nz-select
      nzAllowClear
      nzPlaceHolder="Choose"
    >
      <nz-option *ngFor="let option of listOfMonth" [nzValue]="option" [nzLabel]="option.toString()"></nz-option>
    </nz-select>
  </div>
  <div class="p-1 m-2">
    <button nz-button nzType="primary">
      Tìm kiếm
    </button>
  </div>
</div>

