<nz-spin [nzSpinning]="isSpinning" nzTip="Đang khởi động">
    <div class="table">
      <nz-table #basicTable [nzData]="listAbsence">
        <thead>
          <tr>
            <th><input type="checkbox"></th>
            <th>No</th>
            <th>Date</th>
            <th>Duration</th>
            <th>Note</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of basicTable.data index as i">
            <td><input type="checkbox"></td>
            <td>{{i+1}}</td>
            <td>{{item.date}}</td>
            <td>{{item.duration}}</td>
            <td>{{item.note}}</td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </nz-spin>

